#js-level-finished-box {
    width: 25vw;
    min-width: 300px;
    position: relative;
    z-index: 2;
    #level-finished-wrapper {
        position: fixed;
        top: 17vh;
        -webkit-box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.8);
        #level-finished-box {
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            width: 25vw;
            min-width: 300px;
            height: 500px;
            padding: 50px;
            border-radius: 5px;
            #star-wrapper {
                font-size: 70px;
                .checked {
                    color: gold;
                }
                .fa-star {
                    padding: 10px;
                }
            }
            #finished-data-wrapper {
                text-align: left;
                font-size: 24px;
            }
            #js-finished-score {}
            #js-finished-time {}
        }
    }
}

.hide-box {
    display: none;
}

#custom-menu-container {
    max-width: 1000px;
}

#time-bar-wrapper,
#game-menu-wrapper {
    position: relative;
    z-index: 1;
}

#time-bar-wrapper {
    height: 30px;
    margin-top: 30px;
    border-radius: 5px;
    border: 3px solid white;
    background: linear-gradient(to right, $red, $time-bar);
    #time-bar {
        width: 100%;
        text-align: right;
        display: block;
        background-color: $menu-blue;
        box-sizing: border-box;
    }
}

#game-menu-wrapper {
    margin-top: 2.5px;
    #game-menu {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        #game-menu-options {
            display: flex;
            flex-direction: row;
            justify-content: center;
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                list-style-type: none;
                align-items: center;
                li {
                    white-space: nowrap;
                    display: inline;
                    padding: 0px 5px;
                    a {
                        color: #fff;
                        padding: 5px;
                    }
                    a:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
                li.stars {
                    font-size: 42px;
                    color: lightgrey;
                    .checked {
                        color: gold;
                    }
                    .fa-star {
                        padding: 10px;
                    }
                }
                li.li-info {
                    font-size: 42px;
                    color: #000; //background-color: rgba(255, 255, 255, 0.3);
                }
            }
        }
        @media only screen and (max-width: 1440px) {
            #game-menu-options {
                ul {
                    padding: 0;
                    flex-direction: column;
                    li {
                        padding: 5px;
                        a.menu-btn {
                            min-width: 350px;
                            display: inline-block;
                            height: 40px;
                            padding: 4px;
                        }
                    }
                    li.li-info {
                        font-size: 32px;
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
        @media only screen and (max-width: 767px) {
            #game-menu-options {
                ul {
                    padding: 20px 0px 20px 0px;
                    flex-direction: column;
                    li {
                        padding: 5px;
                        a.menu-btn {
                            min-width: 250px;
                            line-height: inherit;
                            padding: 9px;
                        }
                    }
                }
            }
        }
    }
}