span#about-link {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    font-size: 30px;
    font-weight: 500;
    z-index: 2;
    text-align: center;
    line-height: 30px;
    a {
        color: black;
    }
    a:hover {
        opacity: .8;
        text-decoration: none;
    }
}

span#about-link:hover {
    opacity: .8;
}

.hide-box {
    display: none;
}

#custom-menu-container {
    max-width: 1000px;
}

#time-bar-wrapper,
#tnt-bar-wrapper,
#game-menu-wrapper,
#fail-game-menu-wrapper {
    position: relative;
    z-index: 1;
}

#time-bar-wrapper {
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    border: 3px solid white;
    background-color: rgba(255, 255, 255, 0.4);
    #time-bar {
        width: 100%;
        line-height: 45px;
        font-size: 24px;
        text-align: right;
        display: block;
        background: linear-gradient(to right, $red, $time-bar);
        box-sizing: border-box;
    }
}

#tnt-bar-wrapper {
    display: flex;
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;
    height: 127px;
    margin-left: -15px;
    margin-right: -15px;
    img.tnt-images {
        display: block;
        position: relative;
    }
    #tnt-image {
        height: auto;
        width: auto;
        z-index: 1;
    }
    #fuse-image {
        padding-top: 12px;
        height: 100%; //width: 48%;//auto //flex: 1 0;
        width: 2000px;
    }
}

@media only screen and (max-width: 1440px) {
    #time-bar-wrapper,
    #tnt-bar-wrapper {
        margin-top: 0;
    }
}

#game-menu-wrapper,
#fail-game-menu-wrapper {
    margin-top: 2.5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .menu-list {
        margin: 0;
        padding: 0;
        .menu-item {
            padding: 2.5px;
            a {
                color: #fff;
            }
            a:hover {
                color: #fff;
                text-decoration: none;
            }
        }
        .stars {
            color: whitesmoke;
            .checked {
                color: gold;
            }
            .fa-star {
                font-size: 42px;
            }
        }
        .menu-item.menu-info {
            font-family: scoreboard;
            font-size: 36px;
            color: #000; //background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

@media only screen and (max-width: 1440px) {
    #game-menu-wrapper,
    #fail-game-menu-wrapper {
        .menu-list {
            padding: 2px 0px 2px 0px;
            .menu-item.menu-info {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    #game-menu-wrapper,
    #fail-game-menu-wrapper {
        .menu-list {
            padding: 1.5px;
            .menu-item {
                padding: 0px;
                a.menu-btn {
                    width: 85%;
                    margin-bottom: 5px;
                    margin-top: 5px;
                }
            }
            .stars {
                .fa-star {
                    font-size: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    #tnt-bar-wrapper {
        #tnt-image {
            height: 30%;
            width: auto;
        }
    }
}

@media only screen and (max-width: 575px) {
    #game-menu-wrapper,
    #fail-game-menu-wrapper {
        .menu-list {
            padding: 0;
            .menu-item {
                a.menu-btn {
                    width: 60%;
                    min-width: 100px;
                }
            }
            .stars {
                .fa-star {
                    font-size: 30px;
                }
            }
            .menu-item.menu-info {
                font-size: 20px;
            }
        }
    }
    #tnt-bar-wrapper {
        #tnt-image {
            height: 20%;
            width: auto;
        }
        #fuse-image {
            padding-top: 5px;
            height: 50%; //width: auto;
        }
    }
    span#about-link {
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
        font-size: 20px;
        line-height: 23px;
    }
}