header,
nav,
li,
.dropdown-menu {
    background-color: #76B900;
}

#instructions-article {
    padding-top: 25px;
    padding-bottom: 25px;
}

.article-text {
    text-align: justify;
}

#game-container {
    height: 600px;
    padding: 25px;
    background-color: forestgreen;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    header #nav-ul {
        justify-content: center;
    }
}