#game-container {
    display: flex;
    align-items: center;
}

#game-container {
    height: 100vh;
    padding: 25px;
    background-color: rgba(118, 185, 0, 0.4);
    text-align: center;
    color: #efefef;
}

#game-container #js-game-score,
#game-container #js-game-timer {
    background-color: inherit;
}

.tile-square-wrapper {
    padding: 0;
}

.tile-square {
    height: 4vw;
    width: 4vw;
    background-color: gold;
    display: inline-block;
}

#game-container .tile-square {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #333;
    -webkit-box-shadow: 10px 10px 36px 0px rgba(51, 51, 51, 0.58);
    -moz-box-shadow: 10px 10px 36px 0px rgba(51, 51, 51, 0.58);
    box-shadow: 10px 10px 36px 0px rgba(51, 51, 51, 0.58);
}

#game-container .hide-shadow {
    box-shadow: none;
}

.tile-square>span {
    display: inline-block;
    font-size: 0.8vw;
}

.tile-square {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#game-container .js-is-flipped {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    background-color: #efefef;
}

#inner-game-container {
    height: 100%;
}

#level-headline {
    font-size: 5vw;
    padding-bottom: 25px;
}

@media only screen and (max-width: 1920px) {
    .tile-square {
        height: 6vw;
        width: 6vw;
    }
    .tile-square>span {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 1024px) {
    #game-container .tile-square-wrapper {
        margin-left: 1vw;
        margin-right: 1vw;
    }
    #game-container .tile-square {
        height: 17vw;
        width: 17vw;
    }
}

@media only screen and (max-width: 650px) {
    #game-container .tile-square-wrapper {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
    #game-container .tile-square {
        height: 17vw;
        width: 17vw;
    }
}

@media only screen and (max-width: 500px) {
    #game-container .tile-square-wrapper {
        margin-left: 1.25vw;
        margin-right: 1.25vw;
    }
    #game-container .tile-square {
        height: 16vw;
        width: 16vw;
    }
}

@media only screen and (min-width: 768px) {
    .tile-square-wrapper {
        margin-left: -1vw;
        margin-right: -1vw;
    }
}

@media only screen and (min-width: 1025px) {
    #game-container .tile-square-wrapper {
        margin-left: -1vw;
        margin-right: -1vw;
    }
    #game-container .tile-square {
        height: 12.5vw;
        width: 12.5vw;
    }
}

@media only screen and (min-width: 1700px) {
    #game-container .tile-square-wrapper {
        margin-left: -3vw;
        margin-right: -3vw;
    }
    #game-container .tile-square {
        height: 8.5vw;
        width: 8.5vw;
    }
}

@media only screen and (min-width: 1600px) {
    #game-container .tile-square-wrapper {
        margin-left: -4.1vw;
        margin-right: -4.1vw;
    }
    #game-container .tile-square {
        height: 7.5vw;
        width: 7.5vw;
    }
}