#game-container {
    display: flex;
    align-items: center;
}

#game-container {
    height: 100vh;
    padding: 25px;
    background-color: rgba(118, 185, 0, 0.4);
    background-size: cover;
    text-align: center;
    color: #efefef;
}

#game-container #js-game-score,
#js-game-timer,
#game-container #js-game-timer {
    background-color: inherit;
}

.tile-square-wrapper {
    padding: 0;
    margin: 5px;
    width: 6.5vw;
    height: 6.5vw;
    max-width: 150px;
    max-height: 150px;
    text-align: left;
    .tile-square {
        background-color: gold;
        display: inline-block;
        width: inherit;
        height: inherit;
        max-width: 150px;
        max-height: 150px;
    }
    .js-card {
        height: inherit;
        max-height: 150px;
        opacity: .8;
    }
}

#js-game-score,
#js-game-timer {
    vertical-align: middle;
    font-size: 1.5vw;
    text-align: center;
}

#game-container .tile-square {
    background-color: rgba(128, 128, 128, .5);
    -webkit-box-shadow: 10px 10px 36px 0px rgba(51, 51, 51, 0.58);
    -moz-box-shadow: 10px 10px 36px 0px rgba(51, 51, 51, 0.58);
    box-shadow: 10px 10px 36px 0px rgba(51, 51, 51, 0.58);
}

#game-container .hide-shadow {
    box-shadow: none;
}

.tile-square>span {
    display: inline-block;
    font-size: 0.8vw;
}

.tile-square {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

div.light-rays {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.0), rgba(255, 0, 0, 1)); //default
    width: 0.4vw;
    max-height: 800px;
    height: 35vw;
    opacity: .5;
    margin-top: -6px;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, .40);
    -moz-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, .40);
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, .40);
}

#light-ray-0 {
    margin-left: 27.5%;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.0), rgba(255, 0, 0, 1));
}

#light-ray-1 {
    margin-left: 34%;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.0), rgba(0, 255, 0, 1));
}

#light-ray-2 {
    margin-left: 40.5%;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.0), rgba(0, 0, 255, 1));
}

#light-ray-3 {
    margin-left: 47%;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.0), rgba(255, 255, 0, 1));
}

#light-ray-4 {
    margin-left: 53.5%;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.0), rgba(255, 0, 255, 1));
}

#game-container .js-is-flipped {
    -webkit-transform: rotateY(20deg) rotateZ(-45deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(20deg) rotateZ(-45deg);
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform-origin: 40% 25%;
    -moz-transform-origin: 40% 25%;
    -ms-transform-origin: 40% 25%;
    -o-transform-origin: 40% 25%;
    -webkit-transform-origin: 40% 25%;
    transform-origin: 40% 25%;
}

#game-container .js-card {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#inner-game-container {
    height: 100%;
}

#level-headline {
    font-size: 3.5vw;
}

@media only screen and (max-width: 1024px) {
    #js-game-score,
    #js-game-timer {
        font-size: 2vw;
    }
    div.light-rays {
        height: 72vw;
    }
}

@media only screen and (max-width: 360px) {
    #game-container {
        .tile-square-wrapper {
            width: 8.9vw;
            height: 8.9vw;
        }
    }
}

@media only screen and (min-width: 360px) {
    #game-container {
        .tile-square-wrapper {
            width: 9.5vw;
            height: 9.5vw;
        }
    }
}

@media only screen and (min-width: 400px) {
    #game-container {
        .tile-square-wrapper {
            width: 10vw;
            height: 10vw;
        }
    }
}

@media only screen and (min-width: 768px) {
    #game-container {
        .tile-square-wrapper {
            width: 12vw;
            height: 12vw;
        }
    }
}

@media only screen and (min-width: 1025px) {
    #game-container {
        .tile-square-wrapper {
            width: 6.5vw;
            height: 6.5vw;
        }
    }
}