#lp-row {
    height: 97.5vh;
    text-align: center;
    color: #efefef;
}

#lp-row h2 {
    font-size: 96px;
    margin-top: 0;
    margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
    #lp-row h2 {
        font-size: 20vw;
    }
}