.tutorial-article-row {
    background-color: #efefef;
    padding: 50px 0 50px 0;
}

#tutorial-container {
    padding: 0;
}

#tutorial-overlays-row {}

#tutorial-container>.row {
    margin: 0;
}

#tutorial-headline,
#information-headline {
    font-size: 60px;
    padding-bottom: 25px;
    text-align: center;
}

.sub-headline {
    padding: 10px 0 10px 0;
}

#information-headline {
    padding-top: 25px;
}

#tutorial-article,
#information-article {
    padding-bottom: 25px;
    color: #222;
}

.article-text {
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .sub-headline {
        text-align: center;
    }
    #tutorial-headline {
        font-size: 4rem;
    }
    #information-headline {
        font-size: 2.5rem;
    }
}